.total {
  font-size:24px;
}
.list {
  list-style-type: none;
}
.list_item {
  border:1px solid black;
  border-radius: 10px;
  height: 165px;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 10px;
  box-shadow: 5px 10px 18px #888888;
  border-style: hidden;
}
.avatar {
  width:150px;
  height:150px;
  float:left;
  border-radius: 50%;
}
.title {
  font-size:20px;
}
.description {
  font-size:18px;
}
.createdOn {
  font-family: monospace;
}
.odd { 
  background-color: white;
}
.even {
  background-color: silver;
}