<h3 class="display-query"> {{ title }} - {{ displayQuery }} </h3>
<form #myForm="ngForm" (ngSubmit)="sendQuery()">
  <div *ngFor="let key of modelKeys" class="queryList" >
    {{key}} 
    <input name="{{key}}" placeholder="Enter {{key}} Here" [(ngModel)]="model[key]" required *ngIf="key === 'q'" appNoSpecialChars/>
    <input name="{{key}}" placeholder="Enter {{key}} Here" [(ngModel)]="model[key]" minlength="2" maxlength="4" *ngIf="key === 'stars'" appNoSpecialChars/>
    <input name="{{key}}" placeholder="Enter {{key}} Here" [(ngModel)]="model[key]" *ngIf="key !== 'q' && key !== 'stars'" appNoSpecialChars/>
  </div>

  <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>
  <div *ngIf="searchResults; else elseBlock">
  <h3 class="total">Total Results: {{searchResults.repositories.total_count + searchResults.code.total_count}}</h3>
    <ul class="list">
      <app-repository-display [searchResults]="searchResults.repositories" [favorites]="favorites" (updateFavorites)="handleFavorite($event)" *ngIf="searchResults.repositories" [appFade]="true"></app-repository-display>
      <app-code-display [searchResults]="searchResults.code" [favorites]="favorites" (updateFavorites)="handleFavorite($event)" *ngIf="searchResults.code" [appFade]="true"></app-code-display>
    </ul>
  </div>
<ng-template [ngIf]="searchResults.repositories.total_count == 0" class="alert alert-danger"><h1>No Matches</h1></ng-template>
<ng-template #elseBlock><h1>Loading...</h1></ng-template>
