.list_item {
  border:1px solid black;
  border-radius: 10px;
  height: 165px;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 10px;
  box-shadow: 5px 10px 18px #888888;
  border-style: hidden;
}
.avatar {
  width:150px;
  height:150px;
  float:left;
  border-radius: 50%;
}
.title {
  font-size:20px;
}
.description {
  font-size:18px;
}
.createdOn {
  font-family: monospace;
}
.odd { 
  background-color: rgb(35, 140, 167);
}
.even {
  background-color: rgb(185, 107, 107);
}
.favorite_icon {
  position: relative;
  float: right;
  bottom: 95px;
  font-size: 36px;
  cursor: pointer;
}
.favorited {
  color: yellow;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}